body  {
    background-color:  #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width:50%;
    margin: auto;
    margin-top: 30px;
    padding: 0;
    border: 3px solid #0F3B75;
    height: 90vh;
}
.col-sm-3{
	align-items: right;
}

.button{
    border: none;
    color: #0F3B75;
    padding: 10;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
edit user profile template    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}